[submodule "Mobile"]
	path = Mobile
	url = https://github.com/hyun4545/MusicFun.git
[submodule "WebAPI"]
	path = WebAPI
	url = https://github.com/hyun4545/MusicFun.git
[submodule "WebClient"]
	path = WebClient
	url = https://github.com/hyun4545/MusicFun_WebClient.git
